/* moon start */
html, body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
		/* overflow-y: hidden; */
		overflow: auto !important;
}

.container1 {
    position: fixed;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 70%;
}

.player1 {
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
}

.cd {
    height: 70%;
    margin: 0 auto;
    text-align: center;
}

.out {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 50%;
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

#album {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    float: left;
    width: 80%;
    height: 80%;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: -90%;
    z-index: 1;
}

.roll {
    animation-name: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.action1 {
    margin-top: 1.022%;
    margin-bottom: 0.222%;
    height: 2.5%;
    text-align: center;
}

.action1 img {
    height: 100%;
    width: 1.75vh;
}

#range {
    margin-right: 15px;
    margin-left: 35px;
}
#star{
	margin-left: 13px;
}

input[type="range"] {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
    -webkit-box-shadow: 0 1px 0 0px #424242,
    0 1px 0 #060607 inset,
    0px 2px 10px 0px black inset,
    1px 0px 2px rgba(0, 0, 0, 0.4) inset,
    0 0px 1px rgba(0, 0, 0, 0.6) inset;
    margin-top: -0.333%;
    background-color: #000000;
    border-radius: 15px;
    height: 5px;
    width: 240px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: default;
    top: 1px;
    height: 9px;
    width: 20px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 15px;
    -webkit-box-shadow: 0 -1px 1px black inset;
}

.info {
    height: 10%;
    font-weight: bold;
    font-size: 4vh;
    line-height: 7vh;
    text-align: center;
}

.info #artist {
    font-size: 2vh;
    margin-left: 1em;
}

.lrc {
    height: 5%;
    font-size: 2.5vh;
    line-height: 3.25vh;
    text-align: center;
}

.ml10 {
    margin-left: 10px;
}

#over {
             display: none;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background-color: #f5f5f5;
             opacity:0.5;
             z-index: 1000;
}
 
#layout {
             display: none;
             position: absolute;
             top: 40%;
             left: 40%;
             width: 20%;
             height: 20%;
             z-index: 1001;
             text-align:center;
}
